@using Bychvata.Web.ViewModels.Models.ViewModels
@model AvailabilityViewModel
@{
    ViewData["Title"] = "Availability";
}

@if (Model.IsAvailable)
{
    <h1>Има свободни бунгала за посочения от вас период.</h1>
    <form method="get" asp-controller="Reservations" asp-action="Create">
        <input asp-for="Arrival" type="hidden" />
        <input asp-for="Departure" type="hidden" />
        <input type="submit" class="btn btn-dark" value="Резервирай сега!" />
    </form>
}
else
{
    <h1>Няма свободни места за посочения от вас период, моля посочете други дати.</h1>
    <a class="alert" asp-controller="Home" asp-action="Index">Провери наличност.</a>
}

@section Scripts {
    @*Call web api for weather forecast*@
    <script></script>
}
