<div class="bg_cont">
    <div id="feature">
        <div class="row-container visible visible-first">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="moduletable welcome  span12">
                        <div class="module_container">
                            <div class="mod-newsflash-adv mod-newsflash-adv__welcome">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <header><h3 class="moduleTitle  heading-style-3 visible-first visible"><span class="item_title_part_odd item_title_part_first_half item_title_part_first">Условия за резервация</span> </h3></header>
                                        <div class="spacer10"></div>
                                        <div id="page_text">
                                            <div class="template">
                                                <div class="row template_to1">
                                                    <div class="template_element text-justify col-sm-12 col-md-12 col-lg-12">
                                                        <div class="tarea">
                                                            <div>
                                                                <div style="text-align: center;"><strong>Общи условия за резервация на бунгала<br>в почивна база “БЪЧВАТА”</strong></div>
                                                                <br>
                                                                <div style="text-align: center;">
                                                                    <strong>РЕЗЕРВАЦИЯ И НАСТАНЯВАНЕ</strong>
                                                                    <br>Настоящите условия за резервации задължават Почивна база “БЪЧВАТА” да осигури заявената и платена от клиента резервация, според предоставените от клиента данни за: име на клиента, тип настаняване, период, брой нощувки, брой хора, цена за нощувка.
                                                                    <br>За резервации, моля направете запитване, като изпратите съобщение на e-mail: buchvata@gmail.com. Ако не получите потвърждение на резервацията на подадения от вас мейл, за допълнителна информация може да звъните на телефон: 0893 371&nbsp;798 или 0514 32&nbsp;921 - в работно време от 9:00 до 17:30 часа.
                                                                    <br>Настаняването в почивната база е след 14:30 часа, а освобождаването на бунгалата е до 11:00 часа. При освобождаване след този час се доплаща за удължен престой по 10 лева на час.
                                                                    <br>&nbsp;<br>
                                                                    <strong>ЦЕНИ И ЗАПЛАЩАНЕ</strong>
                                                                    <br>Цените, посочени на интернет страницата на Почивна база “БЪЧВАТА” са за резервация на цяло бунгало, с възможност за настаняване до 4-ма души.
                                                                    <br>Плащанията се правят в 7-дневен срок от резервацията (50 % от сумата), а остатъка се доплаща при настаняването.<br>Резервацията е гарантирана, когато е направено авансово плащане на 50 % от сумата по банковата ни сметка, посочена най-долу.<br>&nbsp;<br><strong>ОТМЯНА НА РЕЗЕРВАЦИЯ</strong><br>До 20 дни преди настаняването - без неустойка.<br>До &nbsp;7 дни преди настаняването - неустойка в размер на цената за една нощувка.<br>След този срок капарото се задържа.<br>При възстановяване на заплатена сума всички разходи по превода (банкови такси и други) са за сметка на клиента.<br>&nbsp;<br>Почивна база “БЪЧВАТА” си запазва правото да променя цените и специалните оферти в интернет страницата си в зависимост от търсенето и наличните към момента свободни места. При вече направени, потвърдени и платени резервации дължимата сума не се променя, независимо от представените нови ценови оферти.<br>&nbsp;<br><strong>ВАЖНО!</strong><br>Ако резервацията не бъде платена в указания срок, настаняването се извършва само при наличие на свободни места.<br>
                                                                </div>&nbsp;<br>
                                                                <strong>Информация за контакти:</strong>
                                                                <br><br>e-mail: buchvata@gmail.com<br>facebook:&nbsp;
                                                                <u>
                                                                    <a data-cke-saved-href="https://www.facebook.com/buchvata.Bqla" href="https://www.facebook.com/buchvata.Bqla">https://www.facebook.com/buchvata.Bqla</a>
                                                                </u>
                                                                <br>мобилен телефон: 0893 371&nbsp;798<br>стационарен телефон: 0514 32&nbsp;921<br>Моля звънете само в работно време от 9:00 до 17:30 часа<br>&nbsp;<br>
                                                                <strong>Информация за търговеца:</strong><br>
                                                                <br>„АВТОИНВЕСТ-94“ ООД гр.Варна<br>Банкова сметка:<br>BG22UNCR70001522565509<br>УНИКРЕДИТ БУЛБАНК АД<br><br>
                                                            </div>
                                                            <div class="fcontent "></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="spacer20"></div>
                                        <div class="spacer20"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>